<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baka2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ItemsList"></activity>
        <activity android:name=".CreateShoppingList" />
        <activity android:name=".OrdersLists" />
        <activity android:name=".OrderListsData" />
        <activity android:name=".ShoppingListData" />
        <activity android:name=".EditClientData" />
        <activity android:name=".ShoppingLists" />
        <activity
            android:name=".ShoppingInProgress"
            android:label="@string/title_activity_shopping_in_progress"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Connect" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".RegisterPaymentScreen" />
        <activity
            android:name=".LoginScreen"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".RegisterScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>